/* nav{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  padding: 1%;
  width:90%;
  margin: auto; 
}
article{
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
} */
.logo {
  width: 100 px;
  height: 100px;
}


.navbar li {
   display: inline-block;
   text-align:center; 
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
	}

	.topnav {
		overflow: hidden;
		background-color: white;
	}

	

	.topnav a {
		background-color: #ffe19c;
		text-align: center;
		padding: 25px 23px;
		font-size: 20px;
		color: black;
	}



	.topnav a.active {
  background-color: white;
  color: black;
}

.content {
  padding: 16px;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
 .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

}
/* .jimg {
  height: 100 px;
} idk why but its not working loll*/
.format {
  padding: 25px;
}
.stock {
  object-fit: cover;
  width: 500px;
  height: 300px;
}
	.topnav {
			overflow: hidden;
			background-color: #ffe19c;
		}

		.topnav a {
			float: left;
			color: black;
			text-align: center;
			padding: 14px 16px;
			font-size: 18px;
		}

		.topnav a:hover {
			background-color: white;
			color: black;
		}

		.topnav a.active {
			background-color: #ffe19c;
			color: black;
		}

		.sticky {
 			position: fixed;
  		top: 0;
 			width: 100%;
		}

		.sticky + .content {
			padding-top: 60px;
		}
		