/* nav{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  padding: 1%;
  width:90%;
  margin: auto; 
}
article{
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
} */
.logo {
  width: 100 px;
  height: 100px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
	}

	.topnav {
		overflow: hidden;
		background-color: white;
	}

	

	.topnav a {
		float: left;
		color: black;
		text-align: center;
		padding: 25px 23px;
		font-size: 20px;
	}

	.topnav a:hover {
  background-color: white;
  color: black;
}

	.topnav a.active {
  background-color: white;
  color: black;
}

.content {
  padding: 16px;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
 .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

}
/* .jimg {
  height: 100 px;
} idk why but its not working loll*/
